<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGLAB</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    <link href="/css/cadastro.css" rel="stylesheet">
    <link href="/css/footer.css" rel="stylesheet">
    <link href="/css/header.css" rel="stylesheet">

    <style>
        :root {
            --bg-color: #000000;
            --main-green: #00ff41;
            --dim-green: #008F11;
            --alert-pink: #ff00ff;
            --ui-gray: #1a1a1a;
        }

        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-color: var(--bg-color);
            background-image: 
                linear-gradient(rgba(0, 255, 65, 0.03) 1px, transparent 1px),
                linear-gradient(90deg, rgba(0, 255, 65, 0.03) 1px, transparent 1px);
            background-size: 20px 20px; /* efeito de grade no fundo */
            color: var(--main-green);
            font-family: 'VT323', monospace;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            border: 4px solid var(--ui-gray); /* borda na tela toda */
        }
    </style>
</head>

<body>

    <header>
        <div class="logo-box">
            SIGLAB<span class="blink">_</span>
        </div>

        <nav>
            <ul>
                <li><a href="/laboratorios"><span class="icon">🖥️</span> Laboratórios</a></li>
                <li><a href="/historico"><span class="icon">💾</span> Histórico</a></li>
                <li><a href="/reservas/todos"><span class="icon">📅</span> Reservas</a></li>
                <li><a href="/chamados"><span class="icon">⚠️</span> Chamados</a></li>
                <li><a href="/"><span class="icon">⚙️</span> Admin</a></li>
            </ul>
        </nav>
    </header>