body {
    background-color: var(--bg-color);
    background-image: 
        linear-gradient(rgba(0, 255, 65, 0.03) 1px, transparent 1px),
        linear-gradient(90deg, rgba(0, 255, 65, 0.03) 1px, transparent 1px);
    background-size: 18px 18px; 
    color: var(--main-green);
    font-family: 'VT323', monospace;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 4px solid var(--ui-gray);
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    width: 100%;
    box-sizing: border-box;
}

.titulo-pagina {
    text-align: center;
    margin-bottom: 27px;
}

.form-cadastro {
    width: 100%; 
    max-width: 450px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%; 
    box-sizing: border-box;
}

.form-group { margin-bottom: 18px; }
label { display: block; margin-bottom: 7px; font-size: 0.7em; color: #aaffaa; }
input, select, textarea {
    width: 96%; 
    padding: 13px;
    background-color: #000;
    border: 1px solid #00FF00;
    color: #00FF00;
    font-family: 'Press Start 2P', monospace;
    font-size: 0.7em;
    outline: none;
    resize: none;
}

button.btn-pixel {
    background-color: #00FF00;
    color: #000;
    border: 2px solid #00FF00;
    padding: 13px 18px;
    font-family: 'VT323', monospace;
    cursor: pointer;
    margin-top: 5px;
    font-size: 1.1em;
    text-transform: uppercase;
    width: 100%;
    transition: 0.2s;
}

button.btn-pixel:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 18px #fff;
    border-color: #fff;
}