main {
  flex: 1;
  padding: 18px;
  width: 100%;
  max-width: 720px;
  margin: 18px auto;
  box-sizing: border-box;
}

h1 {
  margin-bottom: 36px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 3.6rem;
  font-family: 'VT323';
  color: var(--main-green);
  text-align: center;
  position: relative;
  animation: glitch-anim 3s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
    0% { text-shadow: -2px 0 var(--alert-pink); transform: translate(2px,0); }
    2% { text-shadow: 2px 0 #00ffff; transform: translate(-2px,0); }
    4%, 100% { text-shadow: none; transform: none; }
}

.lab-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lab-list li {
  margin-bottom: 13px;
}

.lab-list li a {
  display: flex;
  align-items: center;
  gap: 13px;

  text-decoration: none;
  color: var(--main-green);
  border: 1px solid var(--main-green);
  
  padding: 18px;
  font-size: 1.1rem;
  transition: all 0.2s ease-in-out;
}

.lab-list li a:hover {
  background-color: var(--main-green);
  color: #000;
  box-shadow: 0 0 13px var(--main-green);
}

.lab-list li a.border-status-ocupado {
  border-color: var(--alert-pink);
  color: var(--alert-pink);
}
.lab-list li a.border-status-ocupado:hover {
  background-color: var(--alert-pink);
  color: #000;
  box-shadow: 0 0 13px var(--alert-pink);
}

.lab-list li a.border-status-manutencao {
  border-color: var(--alert-orange);
  color: var(--alert-orange);
}
.lab-list li a.border-status-manutencao:hover {
  background-color: var(--alert-orange);
  color: #000;
  box-shadow: 0 0 13px var(--alert-orange);
}

.lab-list li a.border-status-inativo {
  border-color: var(--ui-gray);
  color: #888; 
}
.lab-list li a.border-status-inativo:hover {
  background-color: var(--ui-gray);
  color: #fff;
  box-shadow: 0 0 13px var(--ui-gray);
}

.lab-icon {
  font-size: 1.35rem;
}

.lab-name {
  font-weight: bold;
}

.lab-status {
  margin-left: auto;
  font-size: 0.81rem;
  color: #000;
  background-color: var(--main-green);
  font-style: normal; 
  font-weight: bold; 
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 4px 9px; 
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.lab-list li a:hover .lab-status {
  background-color: #000; 
  color: #fff;
}

.lab-status.status-ocupado {
  background-color: var(--alert-pink);
}
.lab-status.status-manutencao {
  background-color: var(--alert-orange);
}
.lab-status.status-inativo {
  background-color: var(--ui-gray);
  color: #fff;
}
.lab-status.status-disponivel {
  background-color: var(--main-green);
  color: #000;
}

.link-novo {
  display: block;
  text-align: center;
  background-color: var(--main-green);
  color: #000;
  border: 2px solid var(--main-green);
  padding: 13px 18px;
  cursor: pointer;
  margin-top: 36px;
  font-size: 1.17rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.2s;
}

.link-novo:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 18px #fff;
  border-color: #fff;
}