<footer>
        <div class="marquee-container">
            <div class="marquee-content">
                <span>*** SIGLAB v0.1 *** TODOS OS DIREITOS RESERVADOS ***</span>
            </div>
        </div>
    </footer>

</body>
</html>