footer {
border-top: 2px solid var(--main-green);
padding: 10px;
text-align: center;
background: var(--ui-gray);
font-size: 0.9rem;
}

.marquee-container {
overflow: hidden;
white-space: nowrap;
width: 100%;
}

.marquee-content {
display: inline-block;
animation: scrollLeftSeamless 35s linear infinite;
padding-right: 50px;
}

@keyframes scrollLeftSeamless {
from { transform: translateX(280%); }
to { transform: translateX(-280%); }
}