header {
    border-bottom: 2px solid var(--main-green);
    padding: 0.9rem 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--ui-gray);
    box-shadow: 0 0 10px var(--main-green);
}

.logo-box {
    padding: 4px 13px;
    font-size: 1.7rem;
    letter-spacing: 3px;
    text-shadow: 3px 3px 0px var(black);
}

.logo-box a {
    color: var(--main-green);
    text-decoration: none; 
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    color: var(--main-green);
    font-size: 1.1rem;
    border: 1px solid transparent;
    padding: 4px 9px;
    transition: all 0.1s;
    display: flex;
    align-items: center;
    gap: 7px;
}

nav a:hover {
    background-color: var(--main-green);
    color: black;
    box-shadow: 3px 3px 0px var(--alert-pink);
}

.icon {
    font-size: 1.1rem;
    filter: grayscale(100%) contrast(200%);
}

nav a.logout-btn:hover {
    background-color: var(--alert-pink);
    color: white;
    box-shadow: 3px 3px 0px white;
    border-color: white;
}