header {
border-bottom: 2px solid var(--main-green);
padding: 1rem 2rem;
display: flex;
justify-content: space-between;
align-items: center;
background: var(--ui-gray);
box-shadow: 0 0 10px var(--main-green);
}

.logo-box {
border: 2px solid var(--main-green);
padding: 5px 15px;
font-size: 1.8rem;
letter-spacing: 3px;
background: black;
text-shadow: 2px 2px 0px var(--dim-green);
}

/* Piscar do cursor */
.blink {
animation: blinker 1s linear infinite;
}
@keyframes blinker { 50% { opacity: 0; } }

nav ul {
list-style: none;
display: flex;
gap: 20px;
flex-wrap: wrap;
}

nav a {
text-decoration: none;
color: var(--main-green);
font-size: 1.2rem;
border: 1px solid transparent;
padding: 5px 10px;
transition: all 0.1s;
display: flex;
align-items: center;
gap: 8px;
}

nav a:hover {
background-color: var(--main-green);
color: black;
box-shadow: 3px 3px 0px var(--alert-pink);
}

/* Utility para icones (emojis como placeholder de pixel art) */
.icon {
font-size: 1.2rem;
filter: grayscale(100%) contrast(200%); /* Deixa emojis com cara de velho */
}