main {
flex: 1;
padding: 36px;
max-width: 1080px;
margin: 0 auto;
width: 100%;
}

h1 {
  text-align: center;
  margin-top: 36px;
  padding-bottom: 9px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4.5rem;
  text-shadow: 0 0 3px var(--main-green);
}


.welcome-panel {
border: 1px dashed var(--main-green);
padding: 18px;
margin-bottom: 27px;
background: rgba(0, 255, 65, 0.05);
}

.grid-menu {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
gap: 18px;
}

.card {
border: 2px solid var(--main-green);
padding: 13px;
background: black;
position: relative;
}

.card-header {
background: var(--main-green);
color: black;
padding: 2px 4px;
font-weight: bold;
margin-bottom: 9px;
text-transform: uppercase;
}

.form-group { margin-bottom: 18px; }
label { display: block; margin-bottom: 7px; font-size: 0.7em; color: #aaffaa; }
input, select, textarea {
    width: 96%; 
    padding: 13px;
    background-color: #000;
    border: 1px solid #00FF00;
    color: #00FF00;
    font-family: 'Press Start 2P', monospace; 
    font-size: 0.7em;
    outline: none;
}