main {
flex: 1;
padding: 40px;
max-width: 1200px;
margin: 0 auto;
width: 100%;
}

h1 {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 5rem;
  text-shadow: 0 0 3px var(--main-green);
}


.welcome-panel {
border: 1px dashed var(--main-green);
padding: 20px;
margin-bottom: 30px;
background: rgba(0, 255, 65, 0.05);
}

.grid-menu {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 20px;
}

.card {
border: 2px solid var(--main-green);
padding: 15px;
background: black;
position: relative;
}

.card-header {
background: var(--main-green);
color: black;
padding: 2px 5px;
font-weight: bold;
margin-bottom: 10px;
text-transform: uppercase;
}

.form-group { margin-bottom: 20px; }
label { display: block; margin-bottom: 8px; font-size: 0.7em; color: #aaffaa; }
input, select, textarea {
    width: 96%; /* Ajuste para não estourar a caixa */
    padding: 15px;
    background-color: #000;
    border: 1px solid #00FF00;
    color: #00FF00;
    font-family: 'Press Start 2P', monospace; /* Fonte nos inputs também */
    font-size: 0.7em;
    outline: none;
}