<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponibilidade</title>
</head>

<body>
    <h1> Disponibilidade </h1>
    <ul>
        <li><a href="/laboratorios/<%= lab.id %>/cadastro/reserva">Cadastro de Reserva</a></li>
    </ul>
</body>

</html>