<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGLAB</title>
</head>

<body>
    <h1> SIGLAB </h1>
    <ul>
        <li><a href="/laboratorios">Laboratórios</a></li>
        <li><a href="/historico">Histórico</a></li>
        <li><a href="/reservas/todos">Minhas Reservas</a></li>
        <li><a href="/chamados">Chamados</a></li>
        <li><a href="/cadastro/avisos">Cadastrar Aviso</a></li>
        <li><a href="/cadastro/usuario">Cadastrar Usuário</a></li>
        
    </ul>
</body>

</html>
