<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Laboratórios</title>
</head>

<body>
  <h1>Lista de Laboratórios</h1>
  <ul>
    <% laboratorios.forEach(lab => { %>
      <li><a href="/laboratorios/<%= lab.id %>"><%= lab.nome %></a> - Status: <%= lab.status %></li>
    <% }); %>
      <li><a href="/cadastro/laboratorios">Novo Laboratório</a></li>
  </ul>
</body>